@import "tailwindcss";

@import "./fonts.css";

@import "./theme.css";

body {
  margin: 0;
  font-family: 'Switzer', -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
}

h1, h2 {
  font-family: 'Technor', sans-serif;
}

h3, h4, a{
  font-family: 'Satoshi', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (hover: none) and (pointer: coarse) {
  body {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }
  
  input, select, textarea {
    font-size: 16px;
  }
}

@supports (-webkit-touch-callout: none) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}